
.dashboard_main {
    color: black;
    font-weight: 500;

    .total {
      &_balance {
        display: flex;
        height: 120px;
        flex-direction: column;
        background-color: #ebf3f9;
      }

      &_savings {
        display: flex;
        height: 120px;
        flex-direction: column;
        background-color: #ebf3f9;
      }
    }

    .amount_container {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      .amount {
        font-size: 24px;
        text-align: center;
        vertical-align: middle;
      }
    }
  }
