
    .registration-form{
        padding: 20px 50px;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
        background-color: azure;
        z-index: 10;

        .form-group{
            .error{
                color: red;
                
            }    
        }

        label{
            color:black
        }
        
        .already-have-account:hover{
            cursor: pointer;
            color: brown;
        }
    }
